<section class="row background">
	<div class="col-md-8">
		<section class='part'>
			<h1>Log In</h1>
		</section>

		<section class='part'>		
			<%= form_tag login_path do %>
			
			<div class="part">
				<h3><%= label_tag :email %></h3>
				<%= text_field_tag :email, '', class: 'text_field' %>
			</div>
			
			<div class="part">
				<h3><%= label_tag :password %></h3>
				<%= password_field_tag :password, '', class: 'text_field' %>
			</div>
			
			<%= submit_tag "Log in", class: 'button' %>	
			
			<% end %>
		</section>

	</div>
</section>

