<%= form_for @user do |f| %>

	<section class='part'>
	<h3><%= f.label :first_name %></h3>
	<%= f.text_field :first_name, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :last_name %></h3>
	<%= f.text_field :last_name, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :image, 'Selfie' %></h3>
	<%= f.file_field :image, class: 'url_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :username %></h3>
	<%= f.text_field :username, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :email %></h3>
	<%= f.email_field :email, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :password %></h3>
	<%= f.password_field :password, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :password_confirmation, 'Password Conformation' %></h3>
	<%= f.password_field :password_confirmation, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :test, 'Females are awesome.' %></h3>
	<%#= f.text_field :test, class: 'text_field' %>
	<p> <%= f.radio_button :test, 'true' %> True </p>
	<p> <%= f.radio_button :test, 'false' %> False </p>
	</section>

	<section class='part'>
	<h3><%= f.label :favorite_song %></h3>
	<%= f.text_field :favorite_song, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :bio %></h3>
	<%= f.text_area :bio, class: 'text_box' %>
	</section>

	<section class='part'>
	<h3><%= f.label :discover %></h3>
	<%= f.text_field :discover, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :location %></h3>
	<%= f.text_field :location, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :gender %></h3>
	<%= f.text_field :gender, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :date_of_birth %></h3>
	<%= f.text_field :date_of_birth, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3>Social</h3><br>

	<h5><%= f.label :spotify_link, 'Spotify URL' %></h5>
	<%= f.text_field :spotify_link, class: 'text_field', placeholder: 'http://' %><br><br>

	<h5><%= f.label :soundcloud_link, 'SoundCloud URL' %></h5>
	<%= f.text_field :soundcloud_link, class: 'text_field', placeholder: 'http://' %><br><br>

	<h5><%= f.label :facebook_link, 'Facebook URL' %></h5>
	<%= f.text_field :facebook_link, class: 'text_field', placeholder: 'http://' %><br><br>

	<h5><%= f.label :youtube_link, 'Youtube URL' %></h5>
	<%= f.text_field :youtube_link, class: 'text_field', placeholder: 'http://' %><br><br>

	<h5><%= f.label :instagram_link, 'Instagram URL' %></h5>
	<%= f.text_field :instagram_link, class: 'text_field', placeholder: 'http://' %><br><br>

	<h5><%= f.label :twitter_link, 'Twitter URL' %></h5>
	<%= f.text_field :twitter_link, class: 'text_field', placeholder: 'http://' %>
	</section>

	<%= render 'error_messages' %>

	<%= f.submit class: 'button' %>

<% end %>