<section class="row background">
	<div class="col-md-8">	
		<section class="part">
			<h1><%= @user.first_name %> <%= @user.last_name %> <%= '@' + @user.username %></h2>
			<p class= "text">Bio: <em><%= @user.bio %></em></p>
			<p>Favorite Song: <%= @user.favorite_song %></p>
			<p>Location: <%= @user.location %></p>
			<p>Member since: <%= @user.created_at.strftime("%Y") %></p>
		</section>

		<section class="part">
			<% if @user.songs.count == 1 %> 
				<h2>Contribution</h2>
			<% elsif @user.songs.count > 1 %>
				<h2><%= @user.songs.count %> Contributions:</h2>
			<% else %>
				<h3><%= @user.first_name %> hasn't made any contributions yet.</h3>
			<% end %>
			
			<% @user.songs.order( 'created_at DESC, title ASC' ).each do |song| %>
				<h3><%= link_to song.title, view_song_path(song) %> by <%= song.artist %></h3>
				<p> <%= song.created_at.strftime("%b %d, %Y") %></p>
			<% end %>

			<% if current_user == @user %>	
				<%= link_to '[ Submit a New Song ]', user_songs_path(@user) %> 
			<% end %>
		</section>

		<section class="part">
			<% if current_user == @user %>	
				<%= link_to '[ Edit ]', edit_user_path %> 
				<%= link_to '[ Delete ]', destroy_user_path, method: :delete %>
				<%= link_to '[ Back to Contributors ]', users_path %>
			<% else %>	 
				<%= link_to '[ Back to Contributors ]', users_path %>
			<% end %>
		</section>
	</div>

	<%= render 'layouts/user_sidebar' %>
</section>	
