<section class="row background">
	<div class="col-md-4">
		<section class="part">
			<%= image_tag @user.image.url(:large) %>
		</section>

		<% if current_user == @user %>
			<section class="part">
				<%= link_to '[ Edit Profile ]', edit_user_path %> 
				<%= link_to '[ Delete Profile ]', destroy_user_path, method: :delete %>
			</section>

			<section class="part">
				<%= link_to '[ Back to Contributors ]', users_path %>
			</section>
		<% else %>
			<section class="part">	 
				<%= link_to '[ Back to Contributors ]', users_path %>
			</section>
		<% end %>

		<% if @user.spotify_link.nil? %>
		<% elsif @user.spotify_link.length > 0 %>
			<a href="<%= @user.spotify_link %>" target="_blank">
			<div class="spotify">Spotify</div></a>
		<% else %>
		<% end %>

		<% if @user.soundcloud_link.nil? %>
		<% elsif @user.soundcloud_link.length > 0 %>
			<a href="<%= @user.soundcloud_link %>" target="_blank">
			<div class="soundcloud" >SoundCloud</div></a>
		<% else %>
		<% end %>

		<% if @user.facebook_link.nil? %>
		<% elsif @user.facebook_link.length > 0 %>	
			<a href="<%= @user.facebook_link %>" target="_blank">
			<div class="facebook">Facebook</div></a>
		<% else %>
		<% end %>

		<% if @user.youtube_link.nil? %>
		<% elsif @user.youtube_link.length > 0 %>	
			<a href="<%= @user.youtube_link %>" target="_blank">
			<div class="youtube">Youtube</div></a>
		<% else %>
		<% end %>

		<% if @user.instagram_link.nil? %>
		<% elsif @user.instagram_link.length > 0 %>	
			<a href="<%= @user.instagram_link %>" target="_blank">
			<div class="instagram">Instagram</div></a>
		<% else %>
		<% end %>

		<% if @user.twitter_link.nil? %>
		<% elsif @user.twitter_link.length > 0 %>		
			<a href="<%= @user.twitter_link %>" target="_blank">
			<div class="twitter">Twitter</div></a>
		<% else %>
		<% end %>
	</div> 


	<div class="col-md-8">	
		<section class="part">
			<h1><%= @user.first_name %> <%= @user.last_name %> <%= '@' + @user.username %></h2>
			<p class= "text">Bio: <em><%= @user.bio %></em></p>
			<p>Favorite Song: <%= @user.favorite_song %></p>
			<p>Location: <%= @user.location %></p>
			<p>Member since: <%= @user.created_at.strftime("%Y") %></p>
		</section>

		<section class="part">
			<% if @user.songs.count == 1 %> 
				<h2><%= @user.songs.count %> Contribution</h2>
			<% elsif @user.songs.count > 1 %>
				<h2><%= @user.songs.count %> Contributions</h2>
			<% else %>
				<h3><%= @user.first_name %> hasn't made any contributions yet.</h3>
			<% end %>

			<ul>				
			<% @user.songs.order( 'created_at DESC, title ASC' ).each do |song| %>
				<li><h3><%= link_to song.title, view_song_path(song) %> by <%= song.artist %></h3>
				<p> <%= song.created_at.strftime("%b %d, %Y") %></p></li>
			<% end %>
			</ul>

			<% if current_user == @user %>	
				<%= link_to '[ Submit a New Song ]', user_songs_path(@user) %> 
			<% end %>
		</section>

	</div>
</section>	
