<%= form_for [ @user, @song ] do |f| %>

	<section class='part'>
	<h3><%= f.label :title %></h3>
	<%= f.text_field :title, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :artist %></h3>
	<%= f.text_field :artist, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :year %></h3>
	<%= f.text_field :year, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :link, 'Youtube Link' %></h3>
	<%= f.url_field :link, class: 'text_field' %><br><br>

	<h3><%= f.label :embed, 'SoundCloud Embed' %></h3>
	<%= f.text_field :embed, class: 'text_field' %>
	</section>

	<section class='part'>
	<h3><%= f.label :genre %></h3>
	<%= f.select :genre, options_for_select([[ @song.genre, "" ], "Pop", "Hip-Hop", "Rock", "R&B", "Jazz", "Latin", "Metal", "Electronica", "Classical", "World", "Other" ]) %>
	</section>

	<section class='part'>
	<h3><%= f.label :description %></h3>
	<%= f.text_area :description, class: 'text_box description' %>
	</section>

	<section class='part'>
	<h3><%= f.label :lyrics %></h3>
	<%= f.text_area :lyrics, class: 'text_box lyrics' %>
	</section>

	<%= f.submit class: 'button' %>

<% end %>