<section class="row blank">
	<div class="col-md-10">
		<h1>Music Library</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div>
</section>

<section class="row background">
	<div class="col-md-4">
		<section class="part">
		<span>Sort</span>
		<ul>
			<li><%= link_to 'Year' %></li>
			<li><%= link_to 'Title' %></li>
			<li><%= link_to 'Artist' %></li>
			<li><%= link_to 'Date Published' %></li>
		</ul>
		</section>
	</div>

	<div class="col-md-8 part">
		<section class="part">
		<% @songs.each do |song| %>
			<h3><%= song.year %> - 
			<%= link_to song.title, view_song_path(song) %> 
			by <%= song.artist %></h3>
		<% end %>
		</section>
	</div>
</section>