<section class="row background">
	<div class="col-md-8">	
		<section class="part">
			<h1><%= @song.title %> (<%= @song.year %>) - <%= @song.artist %></h2>
			<p>Published on <%= @song.created_at.strftime("%b %d, %Y") %></p>
		</section>

		<section class="part">	
			<h3>Link:</h3>
			<p><a href="<%= @song.link %>"><%= @song.link %></a></p>
		</section>
		
		<section class="video">	
			<iframe width="560" height="315" src="//www.youtube.com/embed/<%= @youtube_id %>" frameborder="0" allowfullscreen></iframe>
		</section>

		<section class="part">	
			<h3>Description:</h3>
			<p class="text"><%= @song.description %></p>
		</section>

		<section class="part">			
			<h3>Lyrics:</h3>
			<p class="text"><%= @song.lyrics %></p>
		</section>

		<section class="part">	
			<h3>Genre:</h3>
			<p><%= @song.genre %></p>
		</section>

		<% if @current_user == @user %>
			<section class="part">	
				<%= link_to '[ Edit ]', user_song_path %> 
				<%= link_to '[ Delete ]', destroy_song_path, method: :delete %> 
				<%= link_to '[ Back to Profile ]', user_path( @song.user_id ) %>
			</section>
		<% else %>
			<section class="part">	 
				<%= link_to '[ Back to Profile ]', user_path( @song.user_id ) %>
			</section>
		<% end %>

	</div> 
</section>