<section class="row background">
	<div class="col-md-8">	

		<% if @song.link.nil? %>
		<% elsif @song.link.length > 0 %>
			<section class="video">
				<iframe width="100%" height="315" src="//www.youtube.com/embed/<%= @youtube_id %>?rel=0&amp;showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
			</section>
		<% else %>
		<% end %>

		<% if @song.embed.nil? %>
		<% elsif @song.embed.length > 0 %>
			<section class="music">
				<%= @song.embed.html_safe %>
			</section>
		<% else %>
		<% end %>

		<section class="part">
			<h1><%= @song.title %> (<%= @song.year %>) - <%= @song.artist %></h1>
			<p>Published on <%= @song.created_at.strftime("%b %d, %Y") %> <%= link_to '@'+@user_id.username, user_path(@user_id) %></p>
			<p class="text"><%= @song.description %></p>
			<p><em><%= @song.genre %></em></p>
		</section>

		<% if @song.lyrics.nil? %>
		<% elsif @song.lyrics.length > 0 %>
			<section class="part">		
				<h4>Lyrics:</h4>
				<p class="text"><%= @song.lyrics %></p>
			</section>
		<% else %>
		<% end %>

		<%= render 'comments/comments' %>

		<section class="part"> 
			<% if current_user.nil? %>
				<h3><%= link_to 'log In', login_path %> or <%= link_to 'Sign Up', new_user_path %> to Leave a Comment</h3>
			<% else %>
				<h3>Leave a Comment:</h3>
				<%= render 'comments/form', :song => @song %>
			<% end %>
		</section>

		<section class="part"> 
			<%= link_to '[ Back to Library ]', library_path %> 
			<%= link_to '[ Random Pick ]', view_song_path(@random) %> 
		</section>

		<section class="part">
			<% if @current_user == @user %>
				<p>YouTube Link: <a href="<%= @song.link %>"><%= @song.link %></a></p>
				<p>Updated on <%= @user_id.updated_at.strftime("%b %d, %Y") %></p>	
				<%= link_to '[ Edit ]', user_song_path(@song.user_id, @song.id) %> 
				<%= link_to '[ Delete ]', destroy_song_path(@song.user_id, @song.id), method: :delete %>  
			<% end %>
		</section>
	</div> 

	<div class="col-md-4">
		<section class="part">
			<%= link_to like_song_path(@song), method: :patch do %>
			  Upvote
			  <%= @song.get_upvotes.size %>
			<% end %>
		</section>

		<section class="part">
			<p><% @song.votes_for.voters.each do |s| %>
				<%= link_to '@'+s.username, user_path(s.id) %>,
			<% end %></p>
		</section>

		<section class="part">
			<p>SONG-RANDOM FEATURED ARTIST Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>

		<section class="part">
			<p>SONG-AD Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</section>
	</div> 
</section>