<!DOCTYPE html>
<html>
<head>
  <title>EmpowerMIX</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
	
	<%= render 'layouts/header' %>

	<%= render 'layouts/message' %>

	<%= yield %>

	<%= render 'layouts/footer' %>

  <%= console %>

</body>
</html>
